* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Manrope';
  font-weight: normal;
  background-color: white;
}

ul {
  list-style-type: none;
}

@media (max-width: 1439.98px) {
  .container {
    overflow: hidden;
  }
}

.container {
  min-width: 320px;
  max-width: 1116px;
  padding-left: 23px;
  padding-right: 23px;
  margin: 0 auto;
}

.manrope-orange {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #EF633E;
}

.font-elsie {
  font-family: 'Elsie';
  font-weight: 900;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-family: 'Manrope';
}

.link-btn {
  padding: 16px 32px 14px;
  font-family: 'Elsie';
  font-size: 16px;
  line-height: 18px;
  border-radius: 12px;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
}

.transponent-btn {
  color: #5DC4B8;
  border: 1px solid #5DC4B8;
}

.filled-btn {
  background: linear-gradient(180deg, #96E4DD 0%, #5DC4B8 100%);
  color: white;
}

.pos-absolut {
  position: absolute;
}

.page-title {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 470px;
  text-align: center;
  color: #333333;

  .font-elsie {
    margin: 23px 0 11px;
  }

  &>p {
    font-size: 16px;
    line-height: 32px;
  }
}

@media (max-width: 1070px) {
  .page-title .font-elsie {
    margin: 20px 0 14px;
  }
}

@media (max-width: 766.98px) {
  .font-elsie {
    font-size: 40px;    
    line-height: 48px; 
  }
}