.contacts-map {
  max-width: 100%;
}

.contacts-map-info-wrapper {
  position: relative;
  bottom: 0;
}

.contacts-map-info {
    position: relative;
    
    &>svg {
      margin: 0 auto;
      display: block;
      margin-top: 17px;
    }
  }
  

.address-container {
  margin: 0 auto;
  width: 238px;
  height: 144px;
  box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
  border-radius: 50px 16px 16px 16px;
  background-color: white;
  padding: 25px 32px;

  &>.address {
    font-size: 16px;
    line-height: 32px;
    color: rgba(51, 51, 51, 0.5);
  }
  
}

.order-container {
  padding-top: 144px;
  padding-bottom: 172px;
}

.order-wrapper {
  margin: 0 auto;
  max-width: 970px;
  width: 67.36vw;
  box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
  border-radius: 100px 24px 24px 24px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background: url('../img/png/order_pattern.png');
  background-position: center center;
  background-repeat: no-repeat;
  padding-left: 100px;
  padding-right: 100px;
  flex-wrap: wrap;

  &>.link-btn {
    align-self: center;
  }
}

.order-text-container {
  padding-top: 63px;
  padding-bottom: 70px;
  &>h2 {
    margin-bottom: 11px;
  }
}

.contacts_parag {
  padding-bottom: 118px;
  width: 244px;

  &>p {
    font-size: 20px;
    line-height: 32px;
  }
  &>span {
    color: #33333380;
    margin-bottom: 10px;
  }
}

@media (max-width: 1070px) {
  .order-container {
    padding-top: 112px;
    padding-bottom: 172px;
  }
  .order-wrapper {
    padding: 60px 56px 64px;
    width: 100%;
  }
  .order-text-container {
    padding: 0;
    margin-bottom: 38px;
  }
}