.greeting-part {
  display: flex;
  justify-content: space-between;
  padding: 94px 0 160px;
}

.greeting-title {
  margin-top: 26px;
  font-size: 72px;
  line-height: 80px;
}

.greeting-text-block-wrapper {
  width: 470px;
  color: #333333;
  padding-top: 90px;

  p {
    display: block;
    margin-bottom: 36px;
    margin-top: 22px;
    font-size: 20px;
    line-height: 32px;
  }
}

.gradient-wrapper {
  position: relative;
  max-width: 1440px;
}

.gradient-cirle-wrapper {
  position: absolute;
  width: 42.99vw;
  height: 39.79vw;
  max-width: 619px;
  max-height: 573px;
  overflow: hidden;
  top: 0;
  right: 0;
  z-index: -5;

  &::before {
    content: '';
    width: 61.875vw;
    max-width: 891px;
    height: 61.875vw;
    max-height: 891px;
    background: linear-gradient(133.44deg, #FCEEE9 17.94%, #ECF8F8 85.2%);
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.greeting-pic-mobile {
  display: none;
}

.greeting-picture-container {
  width: 570px;
  height: 544px;
  position: relative;
  
  .orange-rect-wrapper {
    top: 32px;
    left: 0;
  }

  .orange-rect {
    width: 270px;
    height: 416px;
    background: linear-gradient(180deg, #F89C72 0%, #EF633E 100%);
    border-radius: 100px 24px 24px 24px;
    position: relative;

    &::before {
      content: '';
      background: url(../img/png/greeting_girl.png);
      width: 962px;
      height: 561px;
      position: absolute;
      bottom: -37px;
      left: -322px;
    }
  }

  .green-rect-wrapper {
    top: 0;
    right: 68px;
  }

  .green-rect {
    width: 202px;
    height: 96px;
    background: linear-gradient(180deg, #96E4DD 0%, #5DC4B8 100%);
    border-radius: 16px 32px 16px 16px;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      background: url(../img/png/greeting_shape.png);
      width: 525px;
      height: 457px;
      position: absolute;
      top: -66px;
      left: -100px;
    }
  }

  .food-rect-wrapper {
    right: 0;
    bottom: 0;
  }

  .food-rect {
    width: 270px;
    height: 416px;
    border-radius: 24px 100px 24px 24px;
    position: relative;
    overflow: hidden;

    &::before {
      content: '';
      background: url(../img/png/greeting_food.png);
      position: absolute;
      width: 500px;
      height: 750px;
      right: 0;
      bottom: -56px;
    }
  }

  .circle-wrapper {
    top: 192px;
    left: 200px;

    .circle {
      width: 170px;
      height: 170px;
      border-radius: 50%;
      position: relative;
      background-color: white;

      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 18px solid transparent;
        border-left: 25px solid #333333;
        border-bottom: 18px solid transparent;
        top: 67px;
        left: 76px;
      }
    }
  }

  .icons-wrapper {
    position: absolute;
    left: 64px;
    bottom: 0;
    font-size: 0;

    &>.circle {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      border: 2px solid #FFFFFF;
      font-size: 0;
    }

    .cup {
      background: linear-gradient(180deg, #F89C72 0%, #EF633E 100%);
      &::before {
        content: '';
        background: url(../img/svg/greeting_cup.svg);
        width: 24px;
        height: 26px;
        position: absolute;
        left: 18px;
        top: 14px;
      }
    }
    .user-1 {
      background: url(../img/png/greeting_user1.png);
      background-position: -2px -2px;
    }
    .user-2 {
      background: url(../img/png/greeting_user2.png);
      background-position: -2px -2px;
    }
    .user-3 {
      background: url(../img/png/greeting_user3.png);
      background-position: -2px -2px;
    }

    .circle + .circle {
      margin-left: -16px;
    }
  }
}

@media (max-width: 1070px) {
 
  .greeting-part {
    flex-direction: column-reverse;
    flex-grow: 0;
  }

  .greeting-text-block-wrapper {
    align-self: center;
  }
  .greeting-picture-container {
    align-self: flex-end;
  }
}

@media (max-width: 766.98px) {
  .gradient-cirle-wrapper {
    width: 70.4vw;
    height: 89.33vw;
    &::before {
      width: 119vw;
      height: 119vw;
    }
  }

  .greeting-picture-container {
    display: none;
  }
  .greeting-pic-mobile {
    display: block;
    align-self: center;
    width: 100%;
  }
  .greeting-part {
    padding: 16px 0 20px;
  }

  .greeting-title {
    margin-top: 23px;
    font-size: 56px;
    line-height: 64px;
  }

  .greeting-text-block-wrapper {
    margin-top: 26px;
    padding: 0 28px;
    width: fit-content;

    & p {
      margin-top: 9px;
      margin-bottom: 16px;
    }
  }

}
