.menu_cards-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 66px;
  padding-bottom: 192px;
}

.menu_card {
  position: relative;
  width: 270px;
  height: 320px;
  box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
  border-radius: 50px 24px 24px 24px;
}
.menu_card:first-child {
  height: 416px;
  &>.menu_img-wrapper {
    width: 270px;
    height: 320px;
    border-radius: 100px 24px 24px 24px;
    left: -32px;
    
    &>img {
      left: -5px;
      bottom: 0;
    }
  }
}

.menu_img-wrapper {
  position: relative;
  overflow: hidden;
  width: 254px;
  height: 224px;
  border-radius: 50px 24px 24px 24px;
  top: -32px;
  left: -16px;

  &>img {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}


@media (max-width: 1070px) {
  
}

@media (max-width: 767.98px) {
  
}
