* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Manrope";
  font-weight: normal;
  background-color: white;
}

ul {
  list-style-type: none;
}

@media (max-width: 1439.98px) {
  .container {
    overflow: hidden;
  }
}
.container {
  min-width: 320px;
  max-width: 1116px;
  padding-left: 23px;
  padding-right: 23px;
  margin: 0 auto;
}

.manrope-orange {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #EF633E;
}

.font-elsie {
  font-family: "Elsie";
  font-weight: 900;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-family: "Manrope";
}

.link-btn {
  padding: 16px 32px 14px;
  font-family: "Elsie";
  font-size: 16px;
  line-height: 18px;
  border-radius: 12px;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
}

.transponent-btn {
  color: #5DC4B8;
  border: 1px solid #5DC4B8;
}

.filled-btn {
  background: linear-gradient(180deg, #96E4DD 0%, #5DC4B8 100%);
  color: white;
}

.pos-absolut {
  position: absolute;
}

.title {
  font-size: 40px;
  line-height: 48px;
  margin-right: 59px;
}

header {
  padding: 16px 0;
}
header .container {
  display: flex;
  align-items: center;
}
header nav {
  width: 315px;
}
header nav + .link-btn {
  margin-left: auto;
}

.nav-link {
  font-size: 16px;
  line-height: 32px;
  color: black;
}

.header-burger-btn {
  display: none;
}

@media (max-width: 766.98px) {
  header .container {
    justify-content: space-between;
  }
  header .container .title {
    margin-right: 0;
  }
  header .container ul {
    scale: 0;
  }
  header.active .container {
    width: 100vw;
    height: 100vh;
    align-items: start;
  }
  header.active .container nav {
    display: block;
  }
  header.active .container ul {
    transition: all 0.2s ease-in;
    scale: 1;
    display: block;
    padding-top: 20%;
    padding-left: 20%;
    position: absolute;
    top: 0;
    left: 0;
  }
  header.active .container ul li {
    margin-top: 50px;
  }
  header.active .container ul li a {
    text-transform: uppercase;
    font-size: 30px;
  }
  .contact-us-button {
    display: none;
  }
  .header-burger-btn {
    display: block;
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px #5DC4B8 solid;
    cursor: pointer;
    flex-shrink: 0;
  }
  .header-burger-btn > span {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #5DC4B8;
    transition: all ease-in-out 0.2s;
    top: 21px;
    left: 12px;
  }
  .header-burger-btn::before, .header-burger-btn::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #5DC4B8;
    left: 12px;
    transition: all ease-in-out 0.2s;
  }
  .header-burger-btn::before {
    top: 14px;
  }
  .header-burger-btn::after {
    bottom: 14px;
  }
  .header-burger-btn.active > span {
    scale: 0;
  }
  .header-burger-btn.active::before {
    rotate: 45deg;
    top: 21px;
  }
  .header-burger-btn.active::after {
    rotate: -45deg;
    bottom: 21px;
  }
}
.greeting-part {
  display: flex;
  justify-content: space-between;
  padding: 94px 0 160px;
}

.greeting-title {
  margin-top: 26px;
  font-size: 72px;
  line-height: 80px;
}

.greeting-text-block-wrapper {
  width: 470px;
  color: #333333;
  padding-top: 90px;
}
.greeting-text-block-wrapper p {
  display: block;
  margin-bottom: 36px;
  margin-top: 22px;
  font-size: 20px;
  line-height: 32px;
}

.gradient-wrapper {
  position: relative;
  max-width: 1440px;
}

.gradient-cirle-wrapper {
  position: absolute;
  width: 42.99vw;
  height: 39.79vw;
  max-width: 619px;
  max-height: 573px;
  overflow: hidden;
  top: 0;
  right: 0;
  z-index: -5;
}
.gradient-cirle-wrapper::before {
  content: "";
  width: 61.875vw;
  max-width: 891px;
  height: 61.875vw;
  max-height: 891px;
  background: linear-gradient(133.44deg, #FCEEE9 17.94%, #ECF8F8 85.2%);
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.greeting-pic-mobile {
  display: none;
}

.greeting-picture-container {
  width: 570px;
  height: 544px;
  position: relative;
}
.greeting-picture-container .orange-rect-wrapper {
  top: 32px;
  left: 0;
}
.greeting-picture-container .orange-rect {
  width: 270px;
  height: 416px;
  background: linear-gradient(180deg, #F89C72 0%, #EF633E 100%);
  border-radius: 100px 24px 24px 24px;
  position: relative;
}
.greeting-picture-container .orange-rect::before {
  content: "";
  background: url(../img/png/greeting_girl.png);
  width: 962px;
  height: 561px;
  position: absolute;
  bottom: -37px;
  left: -322px;
}
.greeting-picture-container .green-rect-wrapper {
  top: 0;
  right: 68px;
}
.greeting-picture-container .green-rect {
  width: 202px;
  height: 96px;
  background: linear-gradient(180deg, #96E4DD 0%, #5DC4B8 100%);
  border-radius: 16px 32px 16px 16px;
  position: relative;
  overflow: hidden;
}
.greeting-picture-container .green-rect::before {
  content: "";
  background: url(../img/png/greeting_shape.png);
  width: 525px;
  height: 457px;
  position: absolute;
  top: -66px;
  left: -100px;
}
.greeting-picture-container .food-rect-wrapper {
  right: 0;
  bottom: 0;
}
.greeting-picture-container .food-rect {
  width: 270px;
  height: 416px;
  border-radius: 24px 100px 24px 24px;
  position: relative;
  overflow: hidden;
}
.greeting-picture-container .food-rect::before {
  content: "";
  background: url(../img/png/greeting_food.png);
  position: absolute;
  width: 500px;
  height: 750px;
  right: 0;
  bottom: -56px;
}
.greeting-picture-container .circle-wrapper {
  top: 192px;
  left: 200px;
}
.greeting-picture-container .circle-wrapper .circle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: relative;
  background-color: white;
}
.greeting-picture-container .circle-wrapper .circle::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-left: 25px solid #333333;
  border-bottom: 18px solid transparent;
  top: 67px;
  left: 76px;
}
.greeting-picture-container .icons-wrapper {
  position: absolute;
  left: 64px;
  bottom: 0;
  font-size: 0;
}
.greeting-picture-container .icons-wrapper > .circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 2px solid #FFFFFF;
  font-size: 0;
}
.greeting-picture-container .icons-wrapper .cup {
  background: linear-gradient(180deg, #F89C72 0%, #EF633E 100%);
}
.greeting-picture-container .icons-wrapper .cup::before {
  content: "";
  background: url(../img/svg/greeting_cup.svg);
  width: 24px;
  height: 26px;
  position: absolute;
  left: 18px;
  top: 14px;
}
.greeting-picture-container .icons-wrapper .user-1 {
  background: url(../img/png/greeting_user1.png);
  background-position: -2px -2px;
}
.greeting-picture-container .icons-wrapper .user-2 {
  background: url(../img/png/greeting_user2.png);
  background-position: -2px -2px;
}
.greeting-picture-container .icons-wrapper .user-3 {
  background: url(../img/png/greeting_user3.png);
  background-position: -2px -2px;
}
.greeting-picture-container .icons-wrapper .circle + .circle {
  margin-left: -16px;
}

@media (max-width: 1070px) {
  .greeting-part {
    flex-direction: column-reverse;
    flex-grow: 0;
  }
  .greeting-text-block-wrapper {
    align-self: center;
  }
  .greeting-picture-container {
    align-self: flex-end;
  }
}
@media (max-width: 766.98px) {
  .gradient-cirle-wrapper {
    width: 70.4vw;
    height: 89.33vw;
  }
  .gradient-cirle-wrapper::before {
    width: 119vw;
    height: 119vw;
  }
  .greeting-picture-container {
    display: none;
  }
  .greeting-pic-mobile {
    display: block;
    align-self: center;
    width: 100%;
  }
  .greeting-part {
    padding: 16px 0 20px;
  }
  .greeting-title {
    margin-top: 23px;
    font-size: 56px;
    line-height: 64px;
  }
  .greeting-text-block-wrapper {
    margin-top: 26px;
    padding: 0 28px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .greeting-text-block-wrapper p {
    margin-top: 9px;
    margin-bottom: 16px;
  }
}/*# sourceMappingURL=main.css.map */