* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope";
  font-weight: normal;
  background-color: white;
  color: #333333;
}

ul {
  list-style-type: none;
}

.max-width-container {
  max-width: 1440px;
  position: relative;
  margin: 0 auto;
}

@media (max-width: 1439.98px) {
  .container {
    overflow: hidden;
  }
}
.container {
  min-width: 320px;
  max-width: 1170px;
  padding-left: 23px;
  padding-right: 23px;
  margin: 0 auto;
}

.manrope-orange {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #EF633E;
}

.font-elsie {
  font-family: "Elsie";
  font-weight: 900;
  font-size: 56px;
  line-height: 64px;
  color: #333333;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-family: "Manrope";
}

.link-btn {
  padding: 16px 32px 14px;
  font-family: "Elsie";
  font-size: 16px;
  line-height: 18px;
  border-radius: 12px;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
}

.transponent-btn {
  color: #5DC4B8;
  border: 1px solid #5DC4B8;
}

.filled-btn {
  background: linear-gradient(180deg, #96E4DD 0%, #5DC4B8 100%);
  color: white;
}

.pos-absolut {
  position: absolute;
}

.page-title {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 470px;
  text-align: center;
  color: #333333;
}
.page-title .font-elsie {
  margin: 23px 0 11px;
}
.page-title > p {
  font-size: 16px;
  line-height: 32px;
}

.gradient-cirle {
  position: absolute;
  width: 42.99vw;
  height: 39.79vw;
  max-width: 619px;
  max-height: 573px;
  overflow: hidden;
  z-index: -5;
}
.gradient-cirle::before {
  content: "";
  width: 61.875vw;
  max-width: 891px;
  height: 61.875vw;
  max-height: 891px;
  background: linear-gradient(133.44deg, #FCEEE9 17.94%, #ECF8F8 85.2%);
  border-radius: 50%;
  position: absolute;
}

.gradient-cirle.left-sided {
  position: absolute;
  left: 0;
  width: 33vw;
  height: 66vw;
  max-width: 475px;
  max-height: 891px;
  overflow: hidden;
  z-index: -5;
}
.gradient-cirle.left-sided::before {
  right: 0;
}

.background-container {
  background: linear-gradient(135deg, #FCEEE9 0%, #ECF8F8 100%);
  max-width: 1305px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.left-background-container {
  border-radius: 0px 24px 100px 0px;
  padding: 0 0 0 9.375vw;
}

.right-background-container {
  border-radius: 100px 0px 0px 24px;
  padding: 0 9.375vw 0 0;
  margin-left: auto;
}

@media (min-width: 1439px) {
  .left-background-container {
    padding: 0 0 0 135px;
  }
  .right-background-container {
    padding: 0 135px 0 0;
  }
}
.elsie-fs24 {
  font-size: 24px;
  line-height: 32px;
  font-family: "Elsie";
  color: #333333;
}

@media (max-width: 1070px) {
  .page-title .font-elsie {
    margin: 20px 0 14px;
  }
  .background-container {
    padding: 0 23px 0 23px;
  }
  .gradient-cirle.left-sided {
    height: 62vw;
  }
}
@media (max-width: 767.98px) {
  .font-elsie {
    font-size: 40px;
    line-height: 48px;
  }
  .gradient-cirle {
    width: 70.4vw;
    height: 89.33vw;
  }
  .gradient-cirle::before {
    width: 119vw;
    height: 119vw;
  }
  .gradient-cirle.left-sided {
    width: 59.5vw;
    height: 118.7vw;
  }
}
.title {
  font-size: 40px;
  line-height: 48px;
  margin-right: 59px;
}

header .container {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
header nav {
  width: 315px;
}
header nav + .link-btn {
  margin-left: auto;
}
header .gradient-cirle {
  top: 0;
  right: 0;
}
header .gradient-cirle::before {
  left: 0;
  bottom: 0;
}

.nav-link {
  font-size: 16px;
  line-height: 32px;
  color: black;
}

.header-burger-btn {
  display: none;
}

@media (max-width: 767.98px) {
  header .container {
    justify-content: space-between;
  }
  header .container .title {
    margin-right: 0;
  }
  header .container ul {
    scale: 0;
  }
  header.active .container {
    width: 100vw;
    height: 100vh;
    align-items: start;
  }
  header.active .container nav {
    display: block;
  }
  header.active .container ul {
    transition: all 0.2s ease-in;
    scale: 1;
    display: block;
    padding-top: 20%;
    padding-left: 20%;
    position: absolute;
    top: 0;
    left: 0;
  }
  header.active .container ul li {
    margin-top: 50px;
  }
  header.active .container ul li a {
    text-transform: uppercase;
    font-size: 30px;
  }
  .contact-us-button {
    display: none;
  }
  .header-burger-btn {
    display: block;
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px #5DC4B8 solid;
    cursor: pointer;
    flex-shrink: 0;
  }
  .header-burger-btn > span {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #5DC4B8;
    transition: all ease-in-out 0.2s;
    top: 21px;
    left: 12px;
  }
  .header-burger-btn::before, .header-burger-btn::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #5DC4B8;
    left: 12px;
    transition: all ease-in-out 0.2s;
  }
  .header-burger-btn::before {
    top: 14px;
  }
  .header-burger-btn::after {
    bottom: 14px;
  }
  .header-burger-btn.active > span {
    scale: 0;
  }
  .header-burger-btn.active::before {
    rotate: 45deg;
    top: 21px;
  }
  .header-burger-btn.active::after {
    rotate: -45deg;
    bottom: 21px;
  }
}
.greeting-part .container {
  display: flex;
  justify-content: space-between;
  padding: 94px 0 0;
}

.greeting-title {
  margin-top: 26px;
  font-size: 72px;
  line-height: 80px;
}

.greeting-text-block-wrapper {
  width: 470px;
  color: #333333;
  padding-top: 90px;
}
.greeting-text-block-wrapper p {
  display: block;
  margin-bottom: 36px;
  margin-top: 22px;
  font-size: 20px;
  line-height: 32px;
}

.greeting-pic-mobile {
  display: none;
}

.greeting-picture-container {
  width: 570px;
  height: 544px;
  position: relative;
}
.greeting-picture-container .orange-rect-wrapper {
  top: 32px;
  left: 0;
}
.greeting-picture-container .orange-rect {
  width: 270px;
  height: 416px;
  background: linear-gradient(180deg, #F89C72 0%, #EF633E 100%);
  border-radius: 100px 24px 24px 24px;
  position: relative;
}
.greeting-picture-container .orange-rect::before {
  content: "";
  background: url(../img/png/greeting_girl.png);
  width: 962px;
  height: 561px;
  position: absolute;
  bottom: -37px;
  left: -322px;
}
.greeting-picture-container .green-rect-wrapper {
  top: 0;
  right: 68px;
}
.greeting-picture-container .green-rect {
  width: 202px;
  height: 96px;
  background: linear-gradient(180deg, #96E4DD 0%, #5DC4B8 100%);
  border-radius: 16px 32px 16px 16px;
  position: relative;
  overflow: hidden;
}
.greeting-picture-container .green-rect::before {
  content: "";
  background: url(../img/png/greeting_shape.png);
  width: 525px;
  height: 457px;
  position: absolute;
  top: -66px;
  left: -100px;
}
.greeting-picture-container .food-rect-wrapper {
  right: 0;
  bottom: 0;
}
.greeting-picture-container .food-rect {
  width: 270px;
  height: 416px;
  border-radius: 24px 100px 24px 24px;
  position: relative;
  overflow: hidden;
}
.greeting-picture-container .food-rect::before {
  content: "";
  background: url(../img/png/greeting_food.png);
  position: absolute;
  width: 500px;
  height: 750px;
  right: 0;
  bottom: -56px;
}
.greeting-picture-container .circle-wrapper {
  top: 192px;
  left: 200px;
}
.greeting-picture-container .circle-wrapper .circle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: relative;
  background-color: white;
}
.greeting-picture-container .circle-wrapper .circle::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-left: 25px solid #333333;
  border-bottom: 18px solid transparent;
  top: 67px;
  left: 76px;
}
.greeting-picture-container .icons-wrapper {
  position: absolute;
  left: 64px;
  bottom: 0;
  font-size: 0;
}
.greeting-picture-container .icons-wrapper > .circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 2px solid #FFFFFF;
  font-size: 0;
}
.greeting-picture-container .icons-wrapper .cup {
  background: linear-gradient(180deg, #F89C72 0%, #EF633E 100%);
}
.greeting-picture-container .icons-wrapper .cup::before {
  content: "";
  background: url(../img/svg/greeting_cup.svg);
  width: 24px;
  height: 26px;
  position: absolute;
  left: 18px;
  top: 14px;
}
.greeting-picture-container .icons-wrapper .user-1 {
  background: url(../img/png/greeting_user1.png);
  background-position: -2px -2px;
}
.greeting-picture-container .icons-wrapper .user-2 {
  background: url(../img/png/greeting_user2.png);
  background-position: -2px -2px;
}
.greeting-picture-container .icons-wrapper .user-3 {
  background: url(../img/png/greeting_user3.png);
  background-position: -2px -2px;
}
.greeting-picture-container .icons-wrapper .circle + .circle {
  margin-left: -16px;
}

@media (max-width: 1069.98px) {
  .greeting-part .container {
    flex-direction: column-reverse;
    flex-grow: 0;
  }
  .greeting-text-block-wrapper {
    align-self: center;
  }
  .greeting-picture-container {
    align-self: flex-end;
  }
}
@media (max-width: 767.98px) {
  .greeting-picture-container {
    display: none;
  }
  .greeting-pic-mobile {
    display: block;
    align-self: center;
    width: 100%;
  }
  .greeting-part .container {
    padding: 16px 0 0;
  }
  .greeting-title {
    margin-top: 23px;
    font-size: 56px;
    line-height: 64px;
  }
  .greeting-text-block-wrapper {
    margin-top: 26px;
    padding: 0 28px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .greeting-text-block-wrapper p {
    margin-top: 9px;
    margin-bottom: 16px;
  }
}
.features-part {
  padding-top: 184px;
}

.features-card {
  width: 270px;
  height: 400px;
  box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
  border-radius: 100px 24px 24px 24px;
  text-align: center;
  padding: 0 32px;
  color: #333333;
}
.features-card > .circle {
  margin: 0 auto;
  margin-top: -16px;
  margin-bottom: 29px;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-card:nth-child(1) .circle {
  background: linear-gradient(180deg, #FFF0EC 0%, #FFDDD4 100%);
}
.features-card:nth-child(2) {
  margin-top: 48px;
}
.features-card:nth-child(2) .circle {
  background: linear-gradient(180deg, #E4FFFC 0%, #C5FFF8 100%);
}
.features-card:nth-child(3) .circle {
  background: linear-gradient(180deg, #FFF8EC 0%, #FFEFD4 100%);
}
.features-card > p {
  color: rgba(51, 51, 51, 0.5019607843);
  margin: 17px 0 13px;
  line-height: 32px;
}

.cards-container {
  display: flex;
  gap: 32px;
  justify-content: center;
  padding-top: 82px;
  flex-wrap: wrap;
  padding-bottom: 192px;
}

.features-card:last-child {
  border-radius: 24px 24px 100px 24px;
}

@media (max-width: 767.98px) {
  .features-part {
    padding-top: 152px;
  }
  .features-card:nth-child(2) {
    margin-top: 0;
  }
  .cards-container {
    gap: 64px;
    padding-bottom: 176px;
  }
}
.about-part {
  padding-top: 48px;
}

.about_picture-container {
  margin: -48px 14px -32px 0;
  position: relative;
  width: 570px;
  height: 672px;
}
.about_picture-container .green-rect {
  background: linear-gradient(180deg, #96E4DD 0%, #5DC4B8 100%);
  border-radius: 16px 32px 16px 16px;
  width: 202px;
  height: 96px;
  top: 16px;
  right: 68px;
  overflow: hidden;
}
.about_picture-container .green-rect::before {
  content: "";
  background: url(../img/png/about_shape.png);
  width: 850px;
  height: 722px;
  position: absolute;
  top: -313px;
  left: -324px;
}
.about_picture-container .orange-rect {
  background: linear-gradient(180deg, #F89C72 0%, #EF633E 100%);
  border-radius: 24px 24px 24px 100px;
  width: 270px;
  height: 192px;
  overflow: hidden;
  bottom: 0;
  left: 0;
}
.about_picture-container .orange-rect::before {
  content: "";
  background: url(../img/png/about_shape.png);
  width: 850px;
  height: 722px;
  position: absolute;
  top: -265px;
  left: -290px;
}

.japan-kitchen-img {
  width: 270px;
  height: 448px;
  border-radius: 100px 24px 24px 24px;
  background-image: url("../img/png/about_japan_kitchen.png");
}

.europe-kitchen-img {
  width: 270px;
  height: 416px;
  position: absolute;
  border-radius: 24px 24px 100px 24px;
  background-image: url("../img/png/about_europe_kitchen.png");
  right: 0;
  top: 144px;
}

.about_parag {
  width: 370px;
  padding-top: 88px;
  padding-bottom: 80px;
  margin: 0 auto;
}
.about_parag h3 {
  margin: 23px 0 25px;
}
.about_parag div {
  color: #333333;
  font-size: 20px;
  line-height: 32px;
}
.about_parag p {
  margin: 18px 0 32px;
  color: rgba(51, 51, 51, 0.5);
  font-size: 16px;
  line-height: 32px;
}
.about_parag .link-btn {
  text-transform: uppercase;
}

.about_picture {
  display: none;
  margin-top: -32px;
}

.about_statistics {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.statistics-card {
  margin-top: 33px;
  width: 206px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.statistics-card .manrope-orange {
  margin-top: 9px;
  margin-bottom: 18px;
}
.statistics-card .font-elsie {
  font-size: 56px;
  line-height: 64px;
}
.statistics-card > p {
  line-height: 32px;
  color: rgba(51, 51, 51, 0.5);
}

.about_statistics {
  padding-top: 142px;
  padding-bottom: 170px;
}

@media (max-width: 1070px) {
  .about-part > .container {
    padding: 0;
  }
  .about_parag h3 {
    margin: 20px 0 12px;
  }
  .about_parag p {
    margin: 14px 0 16px;
  }
  .about_statistics {
    padding-top: 94px;
    padding-bottom: 138px;
  }
}
@media (max-width: 767.98px) {
  .about_picture {
    display: block;
  }
  .about_picture-container {
    display: none;
  }
  .about_parag {
    padding-top: 36px;
    padding-bottom: 80px;
  }
}
.menu_cards-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 114px;
  margin-bottom: 64px;
}

.menu_cards-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
}

.menu_card {
  position: relative;
  width: 270px;
  height: 320px;
  box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
  border-radius: 50px 24px 24px 24px;
  padding: 0 32px 44px 32px;
  background-color: white;
}

.menu_card:first-child {
  height: 416px;
}
.menu_card:first-child > .menu_img-wrapper {
  width: 270px;
  height: 320px;
  border-radius: 100px 24px 24px 24px;
  margin-left: -64px;
}
.menu_card:first-child > .menu_img-wrapper > img {
  left: -5px;
  bottom: 0;
}

.menu_img-wrapper {
  position: relative;
  overflow: hidden;
  width: 254px;
  height: 224px;
  border-radius: 50px 24px 24px 24px;
  margin-top: -32px;
  margin-left: -48px;
  margin-bottom: 25px;
}
.menu_img-wrapper > img {
  position: absolute;
  left: 0;
  bottom: 0;
}

.price-circle {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(180deg, #E4FFFC 0%, #C5FFF8 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 32px;
  bottom: -16px;
  box-shadow: 0px 16px 24px rgba(0, 24, 52, 0.08);
}

.rating-container {
  display: flex;
  margin-top: 10px;
}
.rating-container > img + img {
  margin-left: 6px;
}

.flex-center-container {
  display: flex;
  justify-content: center;
}

.menu_category-title {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  text-align: center;
  margin-top: 105px;
  margin-bottom: 72px;
}

.category-cards-container {
  margin-bottom: 256px;
  gap: 30px;
  flex-wrap: wrap;
}

.category-card {
  width: 170px;
  height: 192px;
  border-radius: 50px 24px 24px 24px;
  text-align: center;
}
.category-card > .circle {
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -32px;
  margin-bottom: 26px;
  background-color: white;
  box-shadow: 0px 8px 48px rgba(0, 24, 52, 0.080899);
}
.category-card:nth-child(1) {
  background: linear-gradient(180deg, #FFF0EC 0%, #FFDDD4 100%);
}
.category-card:nth-child(2) {
  background: linear-gradient(180deg, #E4FFFC 0%, #C5FFF8 100%);
}
.category-card:nth-child(3) {
  background: linear-gradient(180deg, #FFF8EC 0%, #FFEFD4 100%);
}
.category-card:nth-child(4) {
  background: linear-gradient(180deg, #FFF0EC 0%, #FFDDD4 100%);
}

.menu_slider {
  position: relative;
}

@media (max-width: 1070px) {
  .menu_slider {
    width: 333px;
    overflow: hidden;
  }
}/*# sourceMappingURL=main.css.map */